<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
  <extension id="Tawny ViewComponent"
             point="org.protege.editor.core.application.ViewComponent">
    <label value="Tawny View Component"/>
    <class value="uk.org.russet.tawny.TawnyViewComponent"/>
    <category value="@org.protege.ontologycategory"/>
  </extension>
  <extension id="TawnyWorkspaceTab"
             point="org.protege.editor.core.application.WorkspaceTab">
    <label value="Tawny-OWL"/>
    <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
    <index value="X"/>
    <editorKitId value="OWLEditorKit"/>
    <defaultViewConfigFileName value="viewconfig-tawny.xml"/>
  </extension>
</plugin>
